<% c++ #include "update_nick_form.h" %>
<% skin view %>
<% view update_nick uses update_nick_form::update_nick %>
<% template render() %>
<html>
  <head>
  	<title>Update nickname</title>
  </head>
  <body>
    <form method="post" action="">
      <% form as_p info %>
    </form>
  </body>
<html>
<% end template %>
<% end view %>
<% end skin %>
