<% c++ #include "upload_form.h" %>
<% skin view %>
<% view upload uses upload_form::upload %>
<% template render() %>
<html>
  <head>
  	<title>Upload picture</title>
  </head>
  <body>
    <form method="post" action="" enctype="multipart/form-data" >
    <% form as_p info %>
    </form>
   <p>Uploaded images</p>
  </body>
<html>
<% end template %>
<% end view %>
<% end skin %>
